/*a*/
.aic {
  align-items: center;
}
.absolute {
  position: absolute;
}
.animation-opcity {
  animation-name: opcty;
  animation-duration: 2s;
}
/*b*/

.bg-dark {
  background-color: var(--dark);
}
.bg-lightdark {
  background-color: var(--lightDark);
}
.bg-lightdark:hover {
  background-color: var(--lightDark);
}
.bg-main {
  background-color: var(--main);
  color: white;
}
.bg-main:hover {
  background-color: var(--main);
  color: white;
  cursor: default;
}
.btn-test {
  background-color: var(--lightDark);
  font-size: 12px;
  height: max-content;
  padding: 5px 25px;
  margin-right: 20px;
  margin-left: auto;
  border-radius: 10%;
  color: aliceblue;
  text-decoration: none;
}
.btn-test:hover {
  background-color: var(--main);
}
.btn-close {
  font-size: 15px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--main);
  cursor: pointer;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  border: solid 1px var(--main);
  min-width: 30px;
}
.btn-close svg {
  color: inherit;
}
.btn-close:hover {
  color: var(--main);
  background-color: white;
  border: solid 1px var(--main);
}
.btn-submit {
  color: white;
  background-color: var(--dark);
  border: solid 1px var(--dark);
}
.btn-submit:hover {
  color: white;
  background-color: var(--main);
  border: solid 1px var(--main);
}
.border-bottom {
  border-bottom: var(--main) solid 1px;
}
.border {
  border: var(--main) solid 1px;
}
.border-top {
  border-top: var(--main) solid 1px;
}
/*c*/
.color-main {
  color: var(--main);
}
/*d*/
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
/*e*/
/*f*/
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.fs-smaller {
  font-size: smaller;
}
/*g*/
/*h*/
.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-85vh {
  height: 85vh;
}
.h-80vh {
  height: 80vh;
}
.hidden {
  visibility: hidden;
}
/*i*/
.image {
  margin-left: 20px;
  cursor: pointer;
  color: var(--main-1);
}
.image:hover {
  color: var(--main);
}
.input-light{
  border: none;
}
/*j*/
.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jcr {
  justify-content: space-around;
}

/*k*/
/*l*/
.loading {
  animation-name: load;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/*m*/
.mt-50 {
  margin-top: 50px;
}
.mx-10 {
  margin: 0px 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-25 {
  margin-top: 25px;
}
.ms-0 {
  margin-left: 0px;
}
.me-20 {
  margin-right: 20px;
}
.ms-25 {
  margin-left: 25px;
}
.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.m-0 {
  margin: 0px;
}
.m-auto{
  margin: auto;
}
.mcqContainer {
  box-shadow: 5px 7px 20px #dddfe2;
  padding: 20px 50px 50px;
  width: 75%;
  margin: 20px 0px;
  border-radius: 25px;
  border: 1px solid white;
}
.mcqContainerWrong {
  box-shadow: 5px 7px 20px #dddfe2;
  padding: 20px 50px 50px;
  width: 75%;
  margin: 20px 0px;
  border-radius: 25px;
  background-color: #fef8f8;
  border: 1px solid lightcoral;
}
.mcqContainerRight {
  box-shadow: 5px 7px 20px #dddfe2;
  padding: 20px 50px 50px;
  width: 75%;
  margin: 20px 0px;
  border-radius: 25px;
  background-color: #fbfdf9;
  border: 1px solid lightgreen;
}
.mcqInfo {
  display: flex;
  color: lightgray;
  margin-bottom: 20px;
  cursor: pointer;
  width: max-content;
  margin-left: auto;
  align-items: center;
}
.mcqInfo:hover {
  color: var(--main);
}
.mcqInfo svg {
  color: inherit;
  cursor: pointer;
  margin-left: 10px;
}
.mcqTestOption {
  padding: 5px 20px;
  border: solid lightgray 1px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.mcqTestOption:hover {
  border: solid var(--main) 1px;
}
.selctedTest {
  border: solid var(--main) 1px;
  background-color: white;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: default;
  border-radius: 10px;
  color: var(--main);

}
/*n*/
/*o*/
.overlay {
  background-color: var(--main-1);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open {
  border-bottom: solid 1px var(--main);
}
.open:hover {
  background-color: #282a3500;
  cursor: default;
}
.option {
  padding: 0px 10px;
  cursor: pointer;
}
.option:hover {
  color: var(--main);
}
/*p*/
.pt-70 {
  padding-top: 70px;
}
.pe-20 {
  padding-right: 20px;
}
.p-20 {
  padding: 20px;
}
.p-0 {
  padding: 0px !important ;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

/*q*/
/*r*/
.right {
  color: green;
  padding: 0px 10px;
  cursor: default;
}
.rightSelctedTest{
  border: solid green 1px;
  background-color: white;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: default;
  border-radius: 10px;
  color: green;
}
.relative {
  position: relative;
}
.rounded-0 {
  border-radius: 0px;
}
.rounded-25 {
  border-radius: 25px;
}
/*s*/
.scroll-y {
  overflow-y: scroll;
}
.score {
  background-color: #dddfe2;
  top: 62px;
  width: 80%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 3px;
}
.shapes {
  animation-name: shape;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  border-top-left-radius: 45%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*t*/
.topic {
  text-align: center;
  border-bottom: #e5532d solid 2px;
  max-width: fit-content;
  margin: auto;
  margin-top: 90px;
}
.text-main {
  color: #e5532d;
}
.text-dark {
  color: var(--dark);
}
.text-light{
  color: white;
}
/*u*/
/*v*/
.visible {
  visibility: visible;
}
/*w*/
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.wrong {
  color: red;
  padding: 0px 10px;
}
.wrongSelctedTest{
  border: solid red 1px;
  background-color: white;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: default;
  border-radius: 10px;
  color: red;
}
.w-98 {
  display: flex;
  width: 98vw;
}
/*x*/
.x50 {
  width: 50px;
  height: 50px;
}
/*y*/
/*z*/
@keyframes load {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes shape {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 270deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes logo-a {
  0% {
    font-size: 0px;
    opacity: 0;
  }
  100% {
    width: max-content;
    height: max-content;
    font-size: 50px;
    opacity: 1;
  }
}
@keyframes opcty {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
