
/*a*/
.aic {
  align-items: center;
}
.absolute {
  position: absolute;
}
.animation-opcity{
  animation-name: opcty;
  animation-duration: 2s;
}
/*b*/
.balls{
  animation-name: ball;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--main);
  opacity: 0;
}
.bg-dark {
  background-color:var(--dark);
}
.bg-lightdark {
  background-color: var(--lightDark);
}.bg-lightdark:hover {
  background-color: var(--lightDark);
}
.bg-main {
  background-color: var(--main);
  color: white;
}
.bg-main:hover {
  background-color: var(--main);
  color: white;
  cursor: default;
}
/*c*/
.color-main {
  color: var(--main);
}
/*d*/
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
/*e*/
/*f*/
/*g*/
/*h*/
.h-100 {
  height: 100%;
}
.h-85vh {
  height: 85vh;
}
.hidden {
  visibility: hidden;
}
/*i*/
.image {
  margin-left: 20px;
  cursor: pointer;
  color: var(--main-1);
}
.image:hover {
  color: var(--main);
}
/*j*/
.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jcr {
  justify-content: space-around;
}

/*k*/
/*l*/
.loading {
  animation-name: load;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/*m*/
.mt-50 {
  margin-top: 50px;
}
.mt-25 {
  margin-top: 25px;
}
.ms-0 {
  margin-left: 0px;
}
.me-20 {
  margin-right: 20px;
}
.ms-25 {
  margin-left: 25px;
}
.ms-auto {
  margin-left: auto;
}
.m-0 {
  margin: 0px;
}
/*n*/
/*o*/
.open {
  border-bottom: solid 1px var(--main)
}
.open:hover {
  background-color: #282a3500;
  cursor: default;
}
.option {
  padding: 0px 10px;
  cursor: pointer;
}
.option:hover {
  color:var(--main);
  font-size: larger;
}
/*p*/
.pt-70 {
  padding-top: 70px;
}
.pe-20 {
  padding-right: 20px;
}
.p-20 {
  padding: 20px;
}
.p-0 {
  padding: 0px !important ;
}
.px-20{
  padding-left: 20px;
  padding-right: 20px;
}

/*q*/
/*r*/
.right {
  color: green;
  padding: 0px 10px;
  cursor: default;
}
.relative {
  position: relative;
}
.rounded-0 {
  border-radius: 0px;
}
.rounded-25{
  border-radius: 25px;
}
/*s*/
.scroll-y {
  overflow-y: scroll;
}
.score {
  background-color: #dddfe2;
  top: 60px;
  width: 80%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 3px;
}
.shapes {
  animation-name: shape;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background-color: #e5522d00;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
/*t*/
.topic {
  text-align: center;
  border-bottom: #e5532d solid 2px;
  max-width: fit-content;
  margin: auto;
  margin-top: 90px;
}
.text-main{
  color: #e5532d;
}
/*u*/
/*v*/
.visible {
  visibility: visible;
}
/*w*/
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50{
  width: 50%;
}
.wrong {
  color: red;
  padding: 0px 10px;
}

.w-98 {
  display: flex;
  width: 98vw;
}
/*x*/
.x50 {
  width: 50px;
  height: 50px;
}
/*y*/
/*z*/
@keyframes load {
  0% {
    opacity: 0.9;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes shape {
  0% {
   rotate: 0deg;
  }
  25% {
    rotate: 90deg;
   
  }
  50% {
   rotate: 180deg;
    
  }
  75% {
    rotate: 270deg;
   
  }

  100% {
    rotate: 360deg;   
  }
}
@keyframes ball-0 {
  0% {
    top: 190px;
    opacity: 1;

   }
   25% {
    opacity: 1;
    top: -190px;
   }
   50% {
    opacity: 1;
    top: 190px;
   }
   75% {
    top: -190px;
    opacity: 1;
    
   }
 
   100% {
    top: 190px;
    opacity: 1;

   }
}
@keyframes ball-1 {
  0% {
    opacity: 1;
    right: 190px;
   }
   25% {
    opacity: 1;
    right: -190px;
   }
   50% {
    opacity: 1;
    right: 190px;
   }
   75% {
    opacity: 1;
    right: -190px;
    
   }
 
   100% {
    opacity: 1;
    right: 190px;
   }
}
@keyframes ball-2 {
  0% {
    opacity: 1;
    bottom: 190px;
   }
   25% {
    opacity: 1;
    bottom: -190px;
   }
   50% {
    opacity: 1;
    bottom: 190px;
   }
   75% {
    opacity: 1;
    bottom: -190px;
    
   }
 
   100% {
    opacity: 1;
    bottom: 190px;
   }
}
@keyframes ball-3 {
  0% {
   left: 190px;
   opacity: 1;
  }
  25% {
    left: -190px;
    opacity: 1;

  }
  50% {
    left: 190px;
   opacity: 1;

  }
  75% {
    left: -190px;
    opacity: 1;
   
  }

  100% {
   opacity: 1;
   right: 190px;
  }
}

@keyframes logo-a {
  0% {
    font-size: 0px;
    opacity: 0;
    
   }
   100% {
    width: max-content;
    height: max-content;
     font-size:50px ;
     opacity: 1;
   }
  
}
@keyframes opcty {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}